<div class="md-dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="event-dialog-wrapper">
    <mat-toolbar matDialogTitle class="mat-primary m-0" style="background-color:#0C3057 !important;color:white">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span style="position: relative;left: 40%;" class="title dialog-title">Available Filters</span>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div mat-dialog-content class="p-1 m-0" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
      <form name="eventForm" class="event-form" fxFlex>
        <div fxLayout="row wrap" fxLayout.lt-sm="column">
          <div fxFlex="100" formGroupName="color">
            <mat-card class="default" style="height: auto !important; padding-bottom: 10px;width: 100% !important;padding-bottom: 10px !important;">
             
              <mat-card-content class="p-0" fxLayout="column">
                <div class="activity-data">
                  <mat-nav-list class="list-horizontal">
                    <mat-list-item *ngFor="let n of List">
                      <mat-checkbox [checked]="checboxlist.indexOf(n.ID) > -1" (change)="checkboxclick(n.ID)" >{{n.FieldsName}}</mat-checkbox>
                    </mat-list-item>                    
                  </mat-nav-list>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </form>
    </div>
    <div style="text-align: right !important; height: 50px !important;padding-top: 10px;" >
      <button mat-raised-button color="primary" style="float:right;margin-right: 25px !important;"(click)="save()">Save</button>

    </div>
  </div>
</div>