<div class="md-dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <mat-toolbar  cdkDragHandle class="mat-toolbar" style="background-color:rgb(12, 48, 87);color:white">
    <span>{{data.value==='insert'?'Add':'Edit'}} {{header.SubTypeOfAsset}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with close icon"
      (click)="onclosetab()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content class="p-1 m-0" >

    <form [formGroup]="dialogSubTypeForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap" fxLayout.lt-sm="column">

        <div fxFlex="100" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput subTypeName="subTypeName" [formControl]="dialogSubTypeForm.controls['subTypeName']"
              placeholder="{{header.SubTypeOfAsset}} Name" autocomplete="off" required maxlength="45" >
            <mat-error *ngIf="submitted || f1.subTypeName.errors || f1.subTypeName.dirty || f1.subTypeName.touched || f1.subTypeName.hasError('whitespace')">
              <span *ngIf="f1.subTypeName.errors?.required || f1.subTypeName.hasError('whitespace')">{{header.SubTypeOfAsset}} is required </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" class="mt-1">
          <button mat-raised-button class="success" style="float:right !important;"  *ngIf="data.value =='insert'"
            [disabled]="dialogSubTypeForm.invalid"><mat-icon>check</mat-icon> Add {{header.SubTypeOfAsset}}</button>

          <button mat-raised-button class="success" style="float:right !important;"  *ngIf="data.value !='insert'"
            [disabled]="dialogSubTypeForm.invalid"><mat-icon>check</mat-icon> Save</button>
        </div>
      </div>
    </form>
  </div>
</div>