.example-spacer {
    flex: 1 1 auto;
  }
  
  
  .md-dialog-container{
    margin: -24px;
    overflow: hidden;
  }
  .example-icon{
    background-color: none;
  }
  .example-section {
  margin: 12px 0;
  }
  
  .example-margin {
  margin: 0 32px;
  }
  
  
  .md-dialog-content{
    max-height: 68vh;
    height:auto;
    overflow-y:auto;
  }
  
  
  .mat-dialog-content{
    margin: -25px 0px 0px 0px;
    padding:12px 12px;
    overflow:hidden;
  }  
  
  
  .md-label{
    max-height:60vh;
    min-height:30vh;
    overflow: auto;
    padding-bottom: 20px;
  }
  
  .full{
    margin-top: 20px;
  }
  
  :host::ng-deep .mat-dialog-container {
  
    padding:0px !important;
    
    }
  
    mat-nav-list.list-horizontal {
      padding: 0;
      .mat-list-item {
        display: inline-block;
        height: auto;
        width: auto;
      }
    }
  
    :host::ng-deep .mat-list-item-content{
  
      width: 150px !important;
    }
  
    :host::ng-deep .mat-list-base .mat-list-item .mat-list-item-content
    {
  
      padding: 0 0 !important;
      padding-left: 10px !important;
     
    }
  

     ///////////////////// Dropdown Placeholder and After select value /////////////////////

 :host ::ng-deep .mat-select-value-text {
  // font-size: 14px !important;
  // font-weight: 600;

  font-size: 13px !important;
  font-weight: 450;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  
  color: gray!important;
  font-style: italic;
}

    .success {
      background-color: green;
      color: white;
    }

///////////////////// Dropdown Placeholder and After select value /////////////////////

