<div class="md-dialog-container" >
    <div class="event-dialog-wrapper" cdkDrag cdkDragRootElement=".cdk-overlay-pane" >
      <mat-toolbar cdkDragHandle matDialogTitle class="mat-primary m-0" style="background-color:#0C3057 !important;color:white">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <span class="title dialog-title" style="position: relative;left: 40%;"> Create Custom View</span>
          <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-toolbar>
     
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="40" class="ml-12">
        <mat-form-field class=" full-width" color="primary"> 
                <!--<span>{{data.value}} {{string1}}</span>--> 
                <input matInput  [formControl]="dialogForm.controls['ViewName']" 
                autocomplete="off" readonly >
           </mat-form-field>
        </div>
        
      
      <div mat-dialog-content class="p-1 m-0" >
        <form name="eventForm" class="event-form" fxFlex>
          <div fxLayout="row wrap" fxLayout.lt-sm="column">
            <div fxFlex="100" formGroupName="color">
              <mat-card class="default" style="height: auto !important; padding-bottom: 10px;width: 100% !important;padding-bottom: 10px !important;">
               
                <mat-card-content class="p-0" fxLayout="column">
                
                  <div class="activity-data">
                    <mat-nav-list class="list-horizontal">
                      <mat-list-item *ngFor="let n of ListOfField ">
                        <mat-checkbox [checked]="n.Custom2" [disabled]="disableview" (change)="checkboxclick(n)">
                          <!-- {{Headers[n.Custom1]}} -->
                          <span *ngIf="n?.Custom1?.length > 35" title="{{Headers[n.Custom1]}}">{{Headers[n.Custom1] |slice:0:35}}</span>
                          <span *ngIf="n?.Custom1?.length <= 35">{{Headers[n.Custom1]}}</span>
                        </mat-checkbox> 
                      </mat-list-item>                    
                    </mat-nav-list>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </form>
      </div>
      </div>

      <div style="text-align: right !important; height: 50px !important;padding-top: 10px;" >
  
        <!-- <button mat-raised-button class="success"  style="float:right;margin-right: 25px !important;"(click)="save()">Save</button> -->
      <button mat-raised-button id="loginBtn" class="success loginBtn"  style="float:right;margin-right: 25px !important;"(click)="save()">Save</button>
      <!--<button mat-raised-button color="warn" id="loginBtn" class="btn loginBtn" type="button" style="float:right;margin-right: 25px !important;"(click)="save()">Cancel</button>-->
  
      </div>
    </div>
  </div>
