h3{
    font-size: 14PX;
    margin-bottom: -3px;
}


.mat-header-cell {
    font-size: 12px !important;
    font-weight: 700;
}

.mat-cell {
    font-size: 12px !important;
}

.mat-select-trigger { 
    min-width: 50px;
 }

 table{
   
    width:100% !important

 }
 
    .success {
      background-color: green;
      color: white;
    }



  .mat-select-panel { min-width: 100% !important; }
    
  .btn{
    margin-left:15px;
    margin-top: 20px;
    background-color: rgb(12, 48, 87);
    cursor: pointer;
  }
.mat-divider{
    padding-top: 5px;
}
.mat-header-cell, .mat-cell {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 43px;
    
}



.mat-row, .mat-header-row {
    min-width: 800px;
    white-space: nowrap;
    height: 5px;
   
  }
  .example-containerForTAG {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    box-shadow:0 0 black;
    max-height: 600px !important;
    height:600px !important;
    background-color: rgba(255, 255, 255, 0.959);
    overflow:auto;   
    width:100%;
    
  }
  .example-container {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    box-shadow:0 0 black;
   // max-height: 600px !important;
  //  height:600px !important;
  max-height: 600px !important;
  background-color: rgba(255, 255, 255, 0.959);
    overflow: hidden;   
    width:100%;
    
  }
  .container{
    background-color: white;
    border: 1.5px solid black;
    border-radius: 5px;
    text-align: center;
}

.mat-paginator{
    background-color: white;
}


.example-icon {
    padding: 0 3px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar-multiple-rows {
    min-height: 48px !important;
}

.mat-toolbar {
    background: white !important;
    color: rgba(0, 0, 0, 0.87);
    font: 500 12px/30px Roboto, "Helvetica Neue", sans-serif;
}

.app-admin-container .rightside-content-hold {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.333333rem;
    overflow-x: hidden;
    position: relative;
    min-height: 450px;
    padding-top: 0px !important;
}

.mat-paginator-page-size {
    height: 50px !important;
}
.mat-paginator-range-actions {
    display: flex;
    align-items: center;
    height: 50px !important;
}

.mat-form-field {

    margin-right: 12px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 4px;
}

.mat-toolbar-row, .mat-toolbar-single-row{
    display: flex;
    box-sizing: border-box;
    padding: 0 5px;
}

:host ::ng-deep th.mat-header-cell
{
    font-size: 13px !important;

}


:host ::ng-deep .mat-select-value-text {
    font-size: 12px !important;
}

.MatBtnClass
{

  margin-bottom: 15px;
}
.FixBtnClass
{
  

  margin-bottom: 15px;
}


:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    display: flex;
    position: absolute;
    top: 1.25em !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 .75em 0 0.75em;
    margin-top: -1.25em !important;
    position: relative;
}




:host ::ng-deep .mat-paginator-container
{

    margin-top: -10px;
    margin-bottom: -10px;
    color: black !important;

}

:host ::ng-deep .mat-sort-header-arrow
{

 opacity: 0 !important;
}


:host ::ng-deep .mat-input-element:disabled {

    color: black !important;
    font-size: 12px !important;
}

:host ::ng-deep .mat-input-element {

    color: black !important;
    font-size: 12px !important;
}

:host ::ng-deep .mat-header-cell {
    //color:black !important;
    color:black !important;
    background-color: #F5F5DC;//#ddd5d5; // #3a61b4
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

:host ::ng-deep .mat-header-cell, .mat-cell {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px !important;
}
.adduser{
    margin-left: 20px;
}
:host ::ng-deep .mat-paginator-page-size {
   
    color: black !important;
}

:host ::ng-deep .mat-paginator-range-actions {
   
    color: black !important;
}



 .highlight{
    color: green; 
  }
  .highlight2{
    color: red; 
  }
  .highlight3{
      color:white;
  }
  .w-160{
    width: 160px;
    flex:0 0 160px;
  }

  .w-130{
    width: 130px;
    flex:0 0 130px;
  }
 
  .mat-cell{
    justify-content:center!important;
    
  }
  
  .mat-header-cell {
    justify-content:center;
  }
 
  .mat-menu-panel {
   
    min-height: 58px !important;
  }

  :host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar
{

  background-color: #e67e4a !important;
}

:host ::ng-deep  .mat-ink-bar {
  height: 3px !important;
}

.mat-card{

   padding-top: 0px !important;
  // height: 630px !important;
    max-height: 630px !important;
}

:host ::ng-deep .mat-form-field-empty.mat-form-field-label, .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
  transform:translateY(-1.29375em) scale(0.75);
  width: 133.33333333%;
}

:host ::ng-deep .mat-tab-label .mat-tab-label-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 18px !important;
  font-weight: 700;
  margin-bottom: -10px !important;
  color: black !important;
}

:host ::ng-deep .mat-tab-label.mat-tab-disabled
{
  cursor: not-allowed;
  color:gray !important;
  opacity:0.4;
}

:host ::ng-deep .mat-tab-label{
  font-size: 18px !important;
  font-weight: 750;
  height: 36px !important;
  padding: 0 24px;
  padding-bottom: 6px;
  opacity:1;

}

 ///////////////////// Dropdown Placeholder and After select value /////////////////////

 :host ::ng-deep .mat-select-value-text {
  // font-size: 14px !important;
  // font-weight: 600;

  font-size: 13px !important;
  font-weight: 450;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  
  color: gray!important;
  font-style: italic;
}

///////////////////// Dropdown Placeholder and After select value /////////////////////

///////////////////// table design /////////////////////
.mat-row:nth-child(even){
  background-color:#ffffff;
}
      
.mat-row:nth-child(odd){
  background-color:#f9f9f9;
}
.mat-cell{    
  // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  // border-top: 1px solid rgba(0, 0, 0, 0.12);
  // border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
  
:host ::ng-deep .mat-header-cell, .mat-cell {
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 10px !important;
      padding-right: 6px;
}
.matbtn{
  font-size: 23px;   
}

.minibtn{
  min-width: 50px;
  margin-bottom: 15px;
  background-color: #e67e4a; /* For browsers that do not support gradients */
  //background-image: linear-gradient(#e67e4a, #0c3057)
  background-image: linear-gradient(to right, rgb(255, 81, 47) 0%, rgb(240, 152, 25) 51%, rgb(255, 81, 47) 100%);
  padding: 0 10px;
}
.minibtn:disabled{
  background-color: #a19e9e!important; //#dddddd !important;
  background-image: none;
}
:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color:#1f721e70 ;//rgba(0, 0, 0, 0.38);
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: green;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color:green;
}
.disabled-btn {
  pointer-events: none;
  opacity: 0.3;
}
::ng-deep .mat-tooltip {
  font-size:14px !important;
  
}