h3{
  //color:#008bd0;
  font-size: 14PX;

}

/* table {
    width: 100%;
  }
  
  .m-t-xl {
    margin-top: 40px;
  } */
  .mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type {
    padding-left: 24px;
    margin-right: -75px
  }
  .label{
    color: rgba(0, 0, 0, 0.54);
    font-weight: 700;
    font-size: 14px !important;
 }
 :host ::ng-deep .mat-tab-label .mat-tab-label-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 18px !important;
  font-weight: 700;
  margin-bottom: -10px !important;
  color: black !important;
  width: 50%;
}
  .prevent-click
  {
    pointer-events: none;
  }
  .authorize-click{
    pointer-events: auto;
  }
.child{
    margin-left:150px !important;
  }
  .mat-expanded .mat-expansion-panel-header{
    margin-bottom: 0rem;
  }
  .mat-card-title{
    margin-bottom: 0px;
  }

  :host ::ng-deep  .mat-expansion-panel-header {
    font-size: 15px;
    font-weight: 500 !important;
    padding: 0 25px !important;
    margin-top: 5px !important;
    margin-bottom: -5px !important;
  }

  .givemargin{
    margin-right:8px !important;
  }

  .mat-card.p-0 .mat-card-title .card-title-text {
    padding: 2px 22px 3px !important;
  }

  .mat-card.p-0 .mat-card-content {
    padding: 0 0px 0px !important;
}


.mat-content {
  
  margin-top: 9px !important;
  margin-bottom: -2px !important;
}

   ///////////////////// Dropdown Placeholder and After select value /////////////////////

   :host ::ng-deep .mat-select-value-text {
    // font-size: 14px !important;
    // font-weight: 600;
  
    font-size: 13px !important;
    font-weight: 450;
  }
  
  :host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    
    color: gray!important;
    font-style: italic;
  }
  :host ::ng-deep .mat-tab-body { 

    padding-left: 15px !important;
    padding-right: 5px !important;
  }
  :host ::ng-deep .mat-tab-label{
    font-size: 18px !important;
    font-weight: 750;
    height: 36px !important;
    padding: 0 24px;
    padding-bottom: 6px;
    opacity:1;
  
  }
  
  :host ::ng-deep .mat-tab-label:focus
  {
  
    color:black !important;
  }
  :host ::ng-deep .mat-tab-label.mat-tab-disabled
{
  cursor: not-allowed;
  color:gray !important;
  opacity:0.4;
}
.mat-tab-label-container{
  font-size: 0.9em;
  margin-top: -10px;
}
.mat-dialog-content{
  margin: -25px 0px 0px 0px;
  padding:0px 12px;
  overflow:hidden;
}
:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar
{

background-color: #e67e4a !important;
}
.success {
  min-width: 5spx;
  //margin-top:10px !important ;
  background-color: #e67e4a; 
  color: white;
  background-image: linear-gradient(to right, rgb(255, 81, 47) 0%, rgb(240, 152, 25) 51%, rgb(255, 81, 47) 100%);
}
:host ::ng-deep .mat-input-element:disabled {

  color: black !important;
  font-size: 12px !important;
}

:host ::ng-deep .mat-input-element {

  color: black !important;
  font-size: 12px !important;
}
  ///////////////////// Dropdown Placeholder and After select value /////////////////////