<div class="md-dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <mat-toolbar  cdkDragHandle class="mat-toolbar" style="background-color:rgb(12, 48, 87);color:white">
      <span>Add Manufacturer</span>
      <span class="example-spacer"></span>
      <button type="button" mat-icon-button class="example-icon" aria-label="Example icon-button with close icon"
        (click)="onclosetab()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <div mat-dialog-content class="p-1 m-0">  
      <form [formGroup]="dialogForm" class="mt-8">
        <div fxLayout="row wrap" fxLayout.lt-sm="column">
            <div fxFlex="100" class="pr-1">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label class="label">Manufacturer</mat-label>
                  <input matInput name="manufacturer"  formControlName="manufacturer">
                </mat-form-field>
              </div>
              <div fxFlex="100" class="pr-1" >
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label class="label">Description</mat-label>
                  <textarea name="description" matInput  formControlName="description"  autocomplete="off"></textarea>
                </mat-form-field>
              </div>
          <div fxFlex="100" class="mt-1">
            <button mat-raised-button class="success" [disabled]="dialogForm.invalid" style="float:right !important;" (click)="Submit()"
            ><mat-icon>check</mat-icon>Add Manufacturer</button>
  
          </div>
        </div>
      </form>
    </div>
  </div>