<div class="md-dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <mat-toolbar  cdkDragHandle class="mat-toolbar" style="background-color:rgb(12, 48, 87);color:white">
    <span style="position: relative;left: 40%;">{{ Headers.ReinitiateRetirement }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with close icon"
      (click)="dialogRef.close(false)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar><br><br>
  <mat-dialog-content>
    <div class="example-container mat-elevation-z8 mt-8">
      <table mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row let i=index">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="Icon">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-100'"> </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-100'" >
            
            <mat-icon *ngIf="element.TaggingStatus === 9" matTooltip="Retired Asset" [style.fontSize]="'15px'" style="color: #e67e4a !important;font-weight: bold;cursor: pointer;height: 15px;">delete</mat-icon>
            <mat-icon *ngIf="(element.MergeId != null && element.MergeId != 0)&&  (element.MergeId === element.PreFarId) && element.TaggingStatus!=9" matTooltip="Parent Asset" [style.fontSize]="'15px'" style="color: #e67e4a !important;font-weight: bold;cursor: pointer;height: 15px;" >person</mat-icon>
            <mat-icon *ngIf="(element.MergeId != null && element.MergeId != 0 )&& ( element.MergeId != element.PreFarId) && element.TaggingStatus!=9" matTooltip="Child Asset" [style.fontSize]="'15px'" style="color: #e67e4a !important;font-weight: bold;cursor: pointer;height: 15px;" >groups</mat-icon>
            <mat-icon *ngIf="(element.MergeId2 != null && element.MergeId2 != 0 ) &&  (element.MergeId === null || element.MergeId === 0 ) && ( element.MergeId2 === element.PreFarId) && element.TaggingStatus!=9" matTooltip="Parent Asset" [style.fontSize]="'15px'" style="color: #e67e4a !important;font-weight: bold;cursor: pointer;height: 15px;" >person</mat-icon>
            <mat-icon *ngIf="(element.MergeId2 != null && element.MergeId2 != 0 )  &&  (element.MergeId === null || element.MergeId === 0 ) && ( element.MergeId2 != element.PreFarId) && element.TaggingStatus!=9" matTooltip="Child Asset" [style.fontSize]="'15px'" style="color: #e67e4a !important;font-weight: bold;cursor: pointer;height: 15px;" >groups</mat-icon>
            <mat-icon *ngIf="element.IsQtySplit === true && (element.MergeId == null || element.MergeId == 0) && (element.MergeId2 == null || element.MergeId2 == 0)" matTooltip="Quantity Split Asset" [style.fontSize]="'15px'" style="color: #e67e4a !important;font-weight: bold;cursor: pointer;">format_list_numbered_rtl</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="Inventory No.">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-100'">{{Headers.InventoryNumber}}</th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-100'">{{element.Barcode}}</td>
        </ng-container>

        <ng-container matColumnDef="Asset No.">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-100'">{{Headers.AID}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-100'">{{element.AssetId}}</td>
        </ng-container>

        <ng-container matColumnDef="Sale Amount">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-100'"> Sale Amount </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-100'">
            <input matInput type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="17" (keyup)="decimalFilter($event)"  onKeyPress="if(this.value.length==10) return false;" style="border: 1px solid;" *ngIf="saleamountEnable"
              [(ngModel)]="element.SaleAmount" [ngModelOptions]="{standalone: true}"
              class="bg-transparente">
          </td>
        </ng-container>

        <ng-container matColumnDef="Sub No.">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-100'">{{Headers.SAID}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-100'">{{element.SubAssetId}}</td>
        </ng-container>

        <ng-container matColumnDef="Asset Class">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-150'">{{Headers.AssetClass}}</th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-150'">{{element.BlockOfAsset}}</td>
        </ng-container>

        <ng-container matColumnDef="Asset Name">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-150'">{{Headers.ADL2}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-150'">{{element.ADL2}}</td>
        </ng-container>

        <ng-container matColumnDef="Asset Description">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-150'">{{Headers.ADL3}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-150'">{{element.ADL3}}</td>
        </ng-container>
        <ng-container matColumnDef="Serial No">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-150'">{{Headers.SerialNo}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-150'">{{element.SerialNo}}</td>
        </ng-container>
        <ng-container matColumnDef="IT Serial No">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-150'">{{Headers.ITSerialNo}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-150'">{{element.ITSerialNo}}</td>
        </ng-container>

        <ng-container matColumnDef="Plant">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-150'">{{Headers.Location}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-150'">{{element.Location}}</td>
        </ng-container>

        <ng-container matColumnDef="Cost">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-150'">{{Headers.ActualCost }} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-150'">{{element.AcquisitionCost | number : '1.2-2'}}</td>
        </ng-container>

        <ng-container matColumnDef="WDV">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-100'">{{Headers.WDV}}</th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-100'">{{element.WDV | number : '1.2-2'}}</td>
        </ng-container>
        <ng-container matColumnDef="Inventory Indicator">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-100'">{{Headers.InventoryIndicator}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-100'">{{element.Taggable}}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <form [formGroup]="dialogForm" class="mt-8">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-xs="18" class="pr-1">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label class="label" style="font-size: 15px !important;">{{ Headers.InitiatedOn }} <span
                style="color: red;">*</span></mat-label>
            <input matInput formControlName="retireDateCtrl" [matDatepicker]="picker1" class="bg-transparente">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          </mat-form-field>
          <mat-datepicker #picker1></mat-datepicker>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="22" class="pr-1">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label class="label" style="font-size: 14px !important;"><span style="color: red;">*</span>{{
              Headers.ProposedRetireDate }} </mat-label>
            <input matInput formControlName="proposedRetireDateCtrl" [matDatepicker]="picker2" [min]="today"
              class="bg-transparente">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          </mat-form-field>
          <mat-datepicker #picker2></mat-datepicker>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="pr-1">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label class="label" style="font-size: 15px !important;">{{ Headers.RetireType }} <span
                style="color: red;">*</span></mat-label>
            <mat-select formControlName="retireTypeCtrl" class="bg-transparente">
              <mat-option *ngFor="let type of retiretypeList" [value]="type.value" (click)="onchangeRetireType(type)">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="35" class="pr-1">
          <mat-label class="label" style="font-size: 11px !important;">Selling Amount Type <span *ngIf="removeMandatory"
              style="color: red;">*</span></mat-label> <br>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1" (click)="ShowAmount1('AssetWish')">Sale Amount Asset Wise &nbsp;
            </mat-radio-button>
            <mat-radio-button value="2" (click)="ShowAmount1('Consolidated')">Consolidated</mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="20" class="pr-1"  *ngIf="vendorenable">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label class="label" style="font-size: 15px !important;">{{ Headers.CustomerName }} <span
                style="color: red;">*</span> </mat-label>
            <input matInput formControlName="customernameCtrl" class="bg-transparente" autocomplete="off">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="20" class="pr-1" *ngIf="Employenable">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label class="label" style="font-size: 15px !important;">{{ Headers.EmployeeName }} <span
                style="color: red;" >*</span> </mat-label>
            <input matInput formControlName="customernameCtrl" class="bg-transparente" maxlength="30">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="pr-1">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label class="label" style="font-size: 15px !important;">{{ Headers.RetirementComment }} <span
                style="color: red;">*</span></mat-label>
            <textarea matInput formControlName="commentCtrl" maxlength="100" class="bg-transparente">
              <mat-error *ngIf="commentCtrl.hasError('whitespace')">
                <span *ngIf="commentCtrl.hasError('whitespace')"></span>
              </mat-error>
            </textarea>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="25" class="pr-1">
          <mat-label class="label" style="font-size: 11px !important;">Selling Amount By <span *ngIf="removeMandatory"
              style="color: red;">*</span></mat-label> <br>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1" (click)="ShowAmount('NBV')">{{Headers.NBV}} &nbsp;</mat-radio-button>
            <mat-radio-button value="2" (click)="ShowAmount('Selling  Value')">{{Headers.SellingAmount}}
            </mat-radio-button>
          </mat-radio-group>
          <mat-form-field class="full-width" appearance="outline" *ngIf="IsShow">
            <input matInput type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10" (keyup)="decimalFilter($event)" onKeyPress="if(this.value.length==10) return false;"
              formControlName="amountCtrl" [disabled]="amountDisabled" class="bg-transparente">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="10" class="pr-1" class=" responsive">
          <mat-label class="label" style="font-size: 11px !important;">Upload Document</mat-label>
          <button mat-icon-button color="primary" class="mx-4" (click)="openUploadDialog('Photo')"
            title="{{ Headers.UploadDiscardedPhoto }}">
            <mat-icon>file_upload</mat-icon>
          </button>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1" *ngIf="displayFileName">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label class="label" style="font-size: 15px !important;">FileName</mat-label>
            <textarea matInput maxlength="200" [disabled]="isDisabled" class="bg-transparente"> {{displayFileName}}</textarea>
          </mat-form-field>
        </div>
        <!-- <div fxFlex="100" fxFlex.gt-xs="30" class="pr-1" >
            <span fxFlex></span>
            <button mat-raised-button color="primary" style="height: 40px;" [disabled]="dialogForm.invalid"
              (click)="Submit()">Reinitiate</button>
          </div> -->
      </div>
    </form>
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
        <span fxFlex></span>        
        <button mat-raised-button class="success" style="margin-top: 15px;" [disabled]="dialogForm.invalid || submitbtn" (click)="Submit()">
          <mat-icon>check</mat-icon>Reinitiate
        </button>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-xs="40" class="pr-1" style="text-align: left;">
        <button mat-raised-button color="primary" class="mr-12" (click)="GetNewAsset()">{{btnName}}</button>
      </div>
    </div>
    <div class="example-container mat-elevation-z8 mt-8" *ngIf="ShowNewDataSource">
      <table mat-table #table [dataSource]="dataSourceNew" matSort>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggleNew() : null"
              [checked]="selectionNew.hasValue() && isAllSelectedNew()"
              [indeterminate]="selectionNew.hasValue() && !isAllSelectedNew()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row let i=index">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionNew.toggle(row) : null"
              [checked]="selectionNew.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="Inventory No.">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-100'">{{Headers.InventoryNumber}}</th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-100'">{{element.Barcode}}</td>
        </ng-container>

        <ng-container matColumnDef="Asset No.">
          <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef  [ngClass]="'w-100'">{{headers.AID}} </th> -->
          <th mat-sort-header="3" mat-header-cell *matHeaderCellDef>
            <span *ngIf="this.isButtonVisible == false"> {{ Headers.AID }} </span>
            <span *ngIf="this.isButtonVisible == true">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput [formControl]="AssetNoFilter" placeholder="{{ Headers.AID }}"
                  (change)="SerchAssetid('AssetId')">
              </mat-form-field>
            </span>

            <mat-icon *ngIf="this.isButtonVisible == false" class="maticon"
              (click)="Serchicon('AssetId',isButtonVisible)"
              style="height: 17px;width: 24px;font-size:17px;color:#1d3478;margin-right: -7px;">search</mat-icon>

            <mat-panel-description *ngIf="this.isButtonVisible == true">
              <mat-icon [matMenuTriggerFor]="msgMenu" (click)="$event.stopPropagation()" class="text-muted">
                more_vert</mat-icon>
              <mat-menu #msgMenu="matMenu">
                <button mat-menu-item (click)="opentablePopup('position')" *ngIf="setflag" style="height: 40px !important;">
                  <mat-icon style="margin-right: 6px;"> <img src="assets/images/assetrak/23_10_2020/Multiple.png" />
                  </mat-icon> Multiple Search
                </button>

                <button mat-menu-item (click)="ClearSerch('AssetId',isButtonVisible)" style="height: 40px !important;">
                  <mat-icon style="margin-right: 6px;"> <img src="assets/images/assetrak/23_10_2020/Cross.png" />
                  </mat-icon> Clear Search
                </button>

              </mat-menu>
            </mat-panel-description>

          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-100'">{{element.AssetId}}</td>
        </ng-container>

        <ng-container matColumnDef="Sub No.">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-100'">{{Headers.SAID}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-100'">{{element.SubAssetId}}</td>
        </ng-container>

        <ng-container matColumnDef="Asset Class">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-150'">{{Headers.AssetClass}}</th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-150'">{{element.BlockOfAsset}}</td>
        </ng-container>

        <ng-container matColumnDef="Asset Name">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-150'">{{Headers.ADL2}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-150'">{{element.ADL2}}</td>
        </ng-container>

        <ng-container matColumnDef="Asset Description">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-150'">{{Headers.ADL3}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-150'">{{element.ADL3}}</td>
        </ng-container>
        <ng-container matColumnDef="Serial No">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-150'">{{Headers.SerialNo}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-150'">{{element.SerialNo}}</td>
        </ng-container>
        <ng-container matColumnDef="IT Serial No">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-150'">{{Headers.ITSerialNo}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-150'">{{element.ITSerialNo}}</td>
        </ng-container>

        <ng-container matColumnDef="Plant">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-150'">{{Headers.Location}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-150'">{{element.Location}}</td>
        </ng-container>

        <ng-container matColumnDef="Cost">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-150'">{{Headers.ActualCost }} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-150'">{{element.AcquisitionCost | number : '1.2-2'}}</td>
        </ng-container>

        <ng-container matColumnDef="WDV">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-100'">{{Headers.WDV}}</th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-100'">{{element.WDV | number : '1.2-2'}}</td>
        </ng-container>
        <ng-container matColumnDef="Inventory Indicator">
          <th mat-sort-header mat-header-cell *matHeaderCellDef [ngClass]="'w-100'">{{Headers.InventoryIndicator}} </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'w-100'">{{element.Taggable}}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns1;sticky: true "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table>
    </div>
    <div [hidden]="!ShowNewDataSource" style="margin-top: 8px;"> 
      <mat-paginator class="expedientes-paginator" [showFirstLastButtons]="true" [length]="paginationParams.totalCount"
      [pageSize]="paginationParams.pageSize" [pageSizeOptions]="[50, 100, 200,500]" (page)="handlePage($event)">
    </mat-paginator>
    </div>    
    <div fxLayout="row wrap" *ngIf="ShowNewDataSource">
      <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1" style="text-align: right;">
        <button mat-raised-button class="mr-12 success"[disabled]="selectionNew.selected.length == 0" (click)="AddNewAssetData()"> Add Asset </button>

      </div>
    </div>


  </mat-dialog-content>
</div>