<div class="md-dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <mat-toolbar  cdkDragHandle class="mat-toolbar" style="background-color:rgb(12, 48, 87);color:white">
    <span>{{data.task==='add'?'Add':'View/Edit'}} part</span>
    <span class="example-spacer"></span>
    <button type="button" mat-icon-button class="example-icon" aria-label="Example icon-button with close icon"
      (click)="onclosetab()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content class="p-1 m-0">

    <form [formGroup]="dialogSBUForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap" fxLayout.lt-sm="column">


        <div fxFlex="100" class="pr-1">
          <mat-form-field class="full-width" color="primary">
            <mat-select disableOptionCentering   [formControl]="dialogSBUForm.controls['orderType']"
              placeholder="Order Types" [multiple]="false" #singleSelect >
              <mat-option>
                <ngx-mat-select-search [placeholderLabel]="'Search'" [formControl]="orderTypeFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option  *ngFor="let type of filteredOrderTypes | async" [value]="type.OrderTypeId">
                {{type.OrderType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

            <div fxFlex="50" class="pr-1" >
              <mat-form-field class="full-width">
                <input matInput name="sbuName" [formControl]="dialogSBUForm.controls['partName']" placeholder="Part Name"
                  autocomplete="off"  required maxlength="50">
                <!-- <mat-error *ngIf="submitted || f1.sbuName.errors || f1.sbuName.dirty || f1.sbuName.touched || f1.sbuName.hasError('whitespace')">
                  <span *ngIf="f1.sbuName.errors?.required || f1.sbuName.hasError('whitespace')">Issue Type is required </span>
                </mat-error> -->
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1" >
              <mat-form-field class="full-width">
                <input matInput name="sbuName" [formControl]="dialogSBUForm.controls['cost']" placeholder="Cost"
                  autocomplete="off" required maxlength="50">
                <!-- <mat-error *ngIf="submitted || f1.sbuName.errors || f1.sbuName.dirty || f1.sbuName.touched || f1.sbuName.hasError('whitespace')">
                  <span *ngIf="f1.sbuName.errors?.required || f1.sbuName.hasError('whitespace')">Issue Type is required </span>
                </mat-error> -->
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1" >
              <!-- <mat-form-field class="full-width"> -->
                <!-- <input matInput name="sbuName" [formControl]="dialogSBUForm.controls['photo']" placeholder="Photo"
                  autocomplete="off" required maxlength="50"> -->
                  <input type="file" id="myfile" [formControl]="dialogSBUForm.controls['photo']" name="myfile">
                <!-- <mat-error *ngIf="submitted || f1.sbuName.errors || f1.sbuName.dirty || f1.sbuName.touched || f1.sbuName.hasError('whitespace')">
                  <span *ngIf="f1.sbuName.errors?.required || f1.sbuName.hasError('whitespace')">Issue Type is required </span>
                </mat-error> -->
              <!-- </mat-form-field> -->
            </div>

            <div fxFlex="100"  class="pr-1" *ngIf="dialogSBUForm.controls['orderType'].value=='1'">
              <mat-form-field class="formfield full-width" color="primary">
                <mat-select disableOptionCentering [(ngModel)]="category" [ngModelOptions]="{standalone: true}"
                  placeholder="Category" [multiple]="true" #multiSelect [disabled]="data.task=='view'" required>
                  <mat-option>
                    <ngx-mat-select-search [placeholderLabel]="'Search'" [formControl]="categoryFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <!-- <mat-option value="" [disabled]="!!cityMultiCtrl"> {{Headers.All}} </mat-option> -->
                  <!-- <div class="select-all">
                    <mat-checkbox [checked]="cityMultiCtrl.length === categories.length ? true : false"
                      [indeterminate]="cityMultiCtrl.length < categories.length ? true : false"
                      (change)="toggleSelectAllCategories($event)">Select All</mat-checkbox>
                  </div> -->
                  <mat-option   *ngFor="let type of filteredcategoryMulti | async" [value]="type" (click)="GetAllTypeData()"
                    >
                    {{type.AssetCategoryName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          <div fxFlex="100" class="pr-1" *ngIf="dialogSBUForm.controls['orderType'].value=='1'">
            <mat-form-field class="formfield full-width" color="primary">
              <mat-select disableOptionCentering [(ngModel)]="type" [ngModelOptions]="{standalone: true}"
                placeholder="Type" [multiple]="true" #multiSelect [disabled]="data.task=='view'">
                <mat-option>
                  <ngx-mat-select-search [placeholderLabel]="'Search'" [formControl]="assettypeFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <!-- <mat-option value="" [disabled]="!!categoryMultiCtrl"> {{Headers.All}} </mat-option> -->
                <!-- <div class="select-all">
                  <mat-checkbox [checked]="categoryMultiCtrl.length === ListOfCategory.length ? true : false"
                    [indeterminate]="categoryMultiCtrl.length < ListOfCategory.length ? true : false"
                    (change)="toggleSelectAllcategory($event)">Select All</mat-checkbox>
                </div> -->
                <mat-option *ngFor="let type of filteredAssetTypeMulti | async" [value]="type" (click)="GetAllSubTypeByCategoryIdTypeId()" [hidden]="type.TypeOfAsset == ''">
                  {{type.TypeOfAsset}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="100" class="pr-1" *ngIf="dialogSBUForm.controls['orderType'].value=='1'">
            <mat-form-field class="formfield full-width" color="primary">
              <mat-select disableOptionCentering [(ngModel)]="subtype" [ngModelOptions]="{standalone: true}"
                placeholder="Sub Type" [multiple]="true" #multiSelect [disabled]="data.task=='view'">
                <mat-option>
                  <ngx-mat-select-search [placeholderLabel]="'Search'" [formControl]="subtypeFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <!-- <mat-option value="" [disabled]="!!assetclassMultiCtrl"> {{Headers.All}} </mat-option> -->
                <!-- <div class="select-all">
                  <mat-checkbox [checked]="assetclassMultiCtrl.length === ListOfBlocks.length ? true : false"
                    [indeterminate]="assetclassMultiCtrl.length < ListOfBlocks.length ? true : false"
                    (change)="toggleSelectAllassetclass($event)">Select All</mat-checkbox>
                </div> -->
                <mat-option *ngFor="let type of filteredsubtypeMulti | async"
                  [value]="type">
                  {{type.SubTypeOfAsset}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        <div fxFlex="100" class="mt-1">
          <!-- <button type="button" mat-raised-button class="success" style="float:left !important;margin-right: 5px;" *ngIf="disableAllFields&&data.task=='edit'" (click)="enableFields()"
          ><mat-icon>edit</mat-icon>Edit this Issue</button>
          <button type="button" mat-raised-button class="danger" style="float:left !important;" *ngIf="data.task=='edit'" (click)="onDelete()"
          ><mat-icon>delete</mat-icon>Delete this Issue</button> -->
          <button *ngIf="data.task=='edit' || data.task=='add'" mat-raised-button class="success" style="float:right !important;" 
          ><mat-icon>check</mat-icon>{{data.task==='add'?'Create':'Save'}} Part</button>

        </div>
      </div>
    </form>
  </div>
</div>