<h3><strong style=" color:#008bd0 !important;">License Agreements</strong> </h3>
<div fxLayout="row wrap" fxLayout.lt-sm="column">  
    <span   matTooltip="Create Asset" [matTooltipDisabled]="false" (click)="openCSIDialog()" >
    <button mat-raised-button class="minibtn" style="margin-left: 8px !important;margin-top: 10px;">
      <mat-icon style="color: white;">add</mat-icon>
    </button></span>


  <span class="example-spacer"></span>

  <mat-form-field style="margin-top: 6px !important;">
    <button mat-icon-button matSuffix class="example-icon"
      style="background-color:white;margin-top: 0px;width:30px;height: 30px;"
      aria-label="Example icon-button with close icon">
      <mat-icon style="color:white; font-size: 25px;color:#0C3057;cursor:pointer">search</mat-icon>
    </button>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <mat-panel-description style="float: right;">
    <mat-icon [matMenuTriggerFor]="msgMenu" (click)="$event.stopPropagation()" class="text-muted">
      more_vert</mat-icon>
    <mat-menu #msgMenu="matMenu">
      <!-- <button mat-menu-item  style="height: 40px !important;" >
        <mat-icon style="margin-right: 6px;color: #0c3057;"> filter_list
        </mat-icon> Create Filter
      </button>
      <button mat-menu-item  style="height: 40px !important;">
        <mat-icon style="margin-right: 6px;color: #0c3057;"> download
        </mat-icon> Export
      </button> -->
      <button mat-menu-item style="height: 40px !important;">
        <mat-icon style="margin-right: 6px;color: #0c3057;"> view_column
        </mat-icon> Edit Grid Display
      </button>
    </mat-menu>
  </mat-panel-description>
</div>

<div class=" example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="datasource" matSort>
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; index as i ">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span
          *ngIf="column == 'Order Type' ">
          {{column}}
        </span>
      <span
      *ngIf="column == 'Actions' ">
      {{column}}
    </span>
    <span
    *ngIf="column == 'Photo' "> 
      Photo 
  </span>
        <span
          *ngIf="column!='Actions' && column != 'Photo' && column != 'AssetId' && column != 'Icon' && column != 'ADL2' && column != 'ADL3' && column != 'Suplier' && column != 'GRNNo' && column != 'Barcode' && column != 'SerialNo' && column != 'ITSerialNo' && column != 'PONumber'&& column != 'equipmentNo' && column != 'CPPNumber' && column != 'Select' && column != 'Order Type' && column != 'Issue Type'&& column != 'Mapping' ">
          {{column}}
        </span>
      </th>
      <td mat-cell *matCellDef="let element; let i = index;">
          <span
          *ngIf="column == 'Order Type' ">
          {{element[column]}}
        </span>
        <!-- <span
        *ngIf="column == 'Mapping' ">
        {{element[column]}}
      </span> -->
      <span
      *ngIf="column == 'Photo'"> 
        <a style="color:#008bd0 !important;cursor: pointer;" target="_blank" href="https://images.unsplash.com/photo-1588127333419-b9d7de223dcf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80">View Photo</a> 
    </span>
    <span style="cursor: pointer;"
    *ngIf="column == 'Actions' ">
    <!-- <mat-icon style="padding-right: 5px;" (click)="openInfoDialog('view',element,i)">info</mat-icon>  -->
    <mat-icon style="color: #0a95ff;padding-right: 5px;" (click)="openInfoDialog('edit',element,i)">edit</mat-icon> 
    <mat-icon style="color: #ff3d00;" (click)="openInfoDialog('delete',element,i)">delete</mat-icon>
  </span>
        <span
          *ngIf="column!='Actions' && column != 'Photo'&&column != 'AssetId' && column != 'Icon' && column != 'Select' && column != 'AcquisitionDate' && column != 'WDVDate' && column != 'AcquisitionCost' && column != 'WDV' && column != 'Barcode' && column != 'SubAssetId'&& column != 'Order Type' && column != 'Issue Type' && column != 'Mapping'">
          {{element[column]}}
        </span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div style="text-align: center;" *ngIf="datasource?.data?.length === 0">{{message.NoDataAvailable}}</div>
</div>
<!-- <mat-paginator #paginator class="expedientes-paginator" [pageSizeOptions]="[50, 100, 200,500]" showFirstLastButtons>
</mat-paginator> -->
<div style="margin-top: 8px;">
<mat-paginator  class="expedientes-paginator"  [showFirstLastButtons]="true" [length]="paginationParams.totalCount"
[pageSize]="paginationParams.pageSize"
[pageSizeOptions]="[50, 100, 200,500]"
(page)="handlePage($event)">
</mat-paginator>
</div>
<!-- </div> -->