
<div class="md-dialog-container" cdkDragRootElement=".cdk-overlay-pane" cdkDrag>
  <mat-toolbar class="mat-toolbar" cdkDragHandle  style="background-color:rgb(12, 48, 87);color:white">
    <span style="position: relative;left: 40%;">{{data.value==='insert'?'Assign User':'Edit'}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with close icon" (click)="onclosetab()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content style="padding: 22px !important;"  >

    <form [formGroup]="dialogUserForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        
          <div fxFlex="100">
          <mat-form-field class="full-width">
            <mat-label class="label asterisk_input">Select User</mat-label>
            <mat-select disableOptionCentering [formControl]="dialogUserForm.controls['userCtrl']" >
              <mat-option> 
                <ngx-mat-select-search [placeholderLabel]="'Search'" noEntriesFoundLabel="No Matching Data Found" [formControl]="dialogUserForm.controls['userFilterCtrl']"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let user of filteredUsers | async" [value]="user.UserId"> {{user.UserName}} </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && f1.userCtrl.errors || f1.userCtrl.dirty || f1.userCtrl.touched">
              <span *ngIf="f1.userCtrl.errors?.required">User is a required field</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" *ngIf="IsCompanyLevel">
          <mat-form-field class="full-width" >
            <mat-label class="label asterisk_input">{{Headers.SBU}}</mat-label>
            <mat-select disableOptionCentering [formControl]="dialogUserForm.controls['sbuMultiCtrl']" [multiple]="true" #multiSelect>
              <mat-option *ngIf="filteredsbuMulti">
                <ngx-mat-select-search [placeholderLabel]="'Search'" noEntriesFoundLabel="No Matching Data Found" [showToggleAllCheckbox]="true" [toggleAllCheckboxChecked]="(filteredsbuMulti?._events[0]?.length == selectedSBUList.length)&&selectedSBUList.length!=0" [toggleAllCheckboxIndeterminate]="filteredsbuMulti?._events[0]?.length != selectedSBUList.length" (toggleAll)="toggleSelectAllSBU($event)" [formControl]="dialogUserForm.controls['sbuMultiFilterCtrl']"> </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let data of filteredsbuMulti | async" [value]="data.SBU" (click)="onChangeSBU(data.SBU)"> {{data.SBU}} </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && f1.sbuMultiCtrl.errors || f1.sbuMultiCtrl.dirty || f1.sbuMultiCtrl.touched">
              <span *ngIf="f1.sbuMultiCtrl.errors?.required">{{Headers.SBU}} is a required field</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" *ngIf="IsCompanyLevel">
          <mat-form-field class="full-width">
            <mat-label class="label asterisk_input">{{Headers.Location}}</mat-label>
            <mat-select disableOptionCentering [formControl]="dialogUserForm.controls['plantMultiCtrl']" [multiple]="true" #multiSelect >
              <mat-option>
                <ngx-mat-select-search [placeholderLabel]="'Search'" noEntriesFoundLabel="No Matching Data Found" [showToggleAllCheckbox]="true" [showToggleAllCheckbox]="true" [toggleAllCheckboxChecked]="(filteredPlantsMulti?._events[0]?.length == selectedPlantList.length)&&selectedPlantList.length!=0" [toggleAllCheckboxIndeterminate]="filteredPlantsMulti?._events[0]?.length != selectedPlantList.length" (toggleAll)="toggleSelectPlantAll($event)" [formControl]="dialogUserForm.controls['plantMultiFilterCtrl']"> </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let data of filteredPlantsMulti | async" [value]="data.LocationId" (click)="onChangeLocation(data.LocationId)"> {{data.LocationName}} </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && f1.plantMultiCtrl.errors || f1.plantMultiCtrl.dirty || f1.plantMultiCtrl.touched">
              <span *ngIf="f1.plantMultiCtrl.errors?.required">{{Headers.Location}} is a required field</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" *ngIf="IsCategoryConfig">
          <mat-form-field class="full-width" >
            <mat-label class="label asterisk_input">Category</mat-label>
            <mat-select disableOptionCentering [formControl]="dialogUserForm.controls['categoryMultiCtrl']" [multiple]="true" #multiSelect>
              <mat-option>
                <ngx-mat-select-search [placeholderLabel]="'Search'" noEntriesFoundLabel="No Matching Data Found" [showToggleAllCheckbox]="true"  [toggleAllCheckboxChecked]="(filteredCategorysMulti?._events[0]?.length == selectedCategoryList.length)&&selectedCategoryList.length!=0" [toggleAllCheckboxIndeterminate]="filteredCategorysMulti?._events[0]?.length != selectedCategoryList.length" (toggleAll)="toggleSelectCategoryAll($event)" [formControl]="dialogUserForm.controls['categoryMultiFilterCtrl']"> </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let data of filteredCategorysMulti | async" [value]="data.AssetCategoryId" (click)="onChangeCategory(data.AssetCategoryId)"> {{data.AssetCategoryName}} </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && f1.categoryMultiCtrl.errors || f1.categoryMultiCtrl.dirty || f1.categoryMultiCtrl.touched">
              <span *ngIf="f1.categoryMultiCtrl.errors?.required">Asset Category is a required field</span>
            </mat-error>
          </mat-form-field>
        </div>
       
        <div fxFlex="100" class="mt-1">
          <button mat-raised-button color="primary" style="float:right !important;" [disabled]="dialogUserForm.invalid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

