h3{
    //color:#008bd0;
    font-size: 14PX;
    margin-bottom: -3px;
}
// .formfield{
//     margin-left: 20px;
//     width:12%;
    
// }

.mat-header-cell {
    font-size: 12px !important;
    font-weight: 700;
}

.mat-cell {
    font-size: 12px !important;
}

.mat-select-trigger { 
    min-width: 50px;
 }

 table{
   
    width:100% !important

 }

// .mat-table {
//    // max-height: 570px !important;
//     max-height: 600px !important;
//     background-color: rgba(255, 255, 255, 0.959);
//     overflow: auto;   
//     width:100%;
//   }


  .mat-select-panel { min-width: 100% !important; }
    
.btn {
    
    background-color:#e67e4a!important;
    margin-left: 2px;
}
.mat-divider{
    padding-top: 5px;
}
.mat-header-cell, .mat-cell {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 43px;
    
}
// .mat-column-equnum{
//     flex: 0 0 70%;
// }
// .mat-column-position {
//     max-width: 30px;
// }
// .mat-column-weight {
//     max-width: 80px;
// }
// .mat-column-assetcricality {
//     max-width: 70px;
// }



.mat-row, .mat-header-row {
    min-width: 800px;
    white-space: nowrap;
    height: 5px;
   
  }
  .example-container {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    box-shadow:0 0 black;

    max-height: 600px !important;
    background-color: rgba(255, 255, 255, 0.959);
    overflow: auto;   
    width:100%;
  }
  .container{
    background-color: white;
    border: 1.5px solid black;
    border-radius: 5px;
    text-align: center;
}

.mat-paginator{
    background-color: white;
}


.example-icon {
    padding: 0 3px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar-multiple-rows {
    min-height: 48px !important;
}

.mat-toolbar {
    background: white !important;
    color: rgba(0, 0, 0, 0.87);
    font: 500 12px/30px Roboto, "Helvetica Neue", sans-serif;
}

.app-admin-container .rightside-content-hold {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.333333rem;
    overflow-x: hidden;
    position: relative;
    min-height: 450px;
    padding-top: 0px !important;
}

.mat-paginator-page-size {
    height: 50px !important;
}
.mat-paginator-range-actions {
    display: flex;
    align-items: center;
    height: 50px !important;
}

.mat-form-field {

    margin-right: 12px;
    width: 112px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 4px;
}

.mat-toolbar-row, .mat-toolbar-single-row{
    display: flex;
    box-sizing: border-box;
    padding: 0 5px;
}

:host ::ng-deep th.mat-header-cell
{
    font-size: 13px !important;

}
.mat-form-field-infix {
    display: flex;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 112px !important;
}

:host ::ng-deep .mat-select-value-text {
    font-size: 12px !important;
}

.MatBtnClass
{
  
   // margin-bottom: 30px;
  // margin-bottom: 28px;
  margin-bottom: 15px;
}
.FixBtnClass
{
  
   // margin-bottom: 30px;
  // margin-bottom: 28px;
  margin-bottom: 15px;
}


:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    display: flex;
    position: absolute;
    top: 1.25em !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 .75em 0 0.75em;
    margin-top: -1.25em !important;
    position: relative;
}


// .mat-paginator-range-actions {
//     display: flex;
//     align-items: center;
//     height: 16px !important;
// }

// .mat-paginator {
//     color: rgba(0,0,0,.54);
//     height: 38px !important;
// }

// .expedientes-paginator {
//     height: 50px;
  
//   }

//   :host ::ng-deep .mat-paginator-range-actions {
//     display: flex;
//     align-items: center;
//     height: 24px !important;
// }

// :host ::ng-deep .mat-paginator-page-size {
//     display: flex;
//     align-items: baseline;
//     margin-right: 8px;
//     height: 35px !important;
// }

:host ::ng-deep .mat-paginator-container
{

    margin-top: -10px;
    margin-bottom: -10px;
    color: black !important;

}

:host ::ng-deep .mat-sort-header-arrow
{

 opacity: 0 !important;
}


:host ::ng-deep .mat-input-element:disabled {

    color: black !important;
    font-size: 12px !important;
}

:host ::ng-deep .mat-input-element {

    color: black !important;
    font-size: 12px !important;
}

:host ::ng-deep .mat-header-cell {
   // color: rgb(0 0 0 / 85%) !important;
    color:black !important;
}

:host ::ng-deep .mat-header-cell, .mat-cell {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px !important;
}

:host ::ng-deep .mat-paginator-page-size {
   
    color: black !important;
}

:host ::ng-deep .mat-paginator-range-actions {
   
    color: black !important;
}

.mat-menu-item:hover:not([disabled])
{

  //  background: #01000748 !important;
    background:rgba(0, 0, 1, 0.2)!important;

}

:host ::ng-deep .mat-menu-item {

    height: 40px !important;
    line-height: 40px !important;
}

.mat-menu-content:not(:empty) {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.ellipsis {
    display: block;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
