/* table {
    width: 100%;
  }
  
  .m-t-xl {
    margin-top: 40px;
  } */
  .mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type {
    padding-left: 24px;
    margin-right: -75px
  }

  .mat-raised-button.mat-primary[disabled]{

    background-color:lightgray !important;
  } 
 
  .mat-raised-button.mat-primary{

    background-color:#e67e4a !important;
    color: white !important;
  }


 

  :host ::ng-deep .mat-select-value-text {
  
  
    font-size: 13px !important;
    font-weight: 450;
  }
  
  :host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    
    color: gray!important;
    font-style: italic;
  }
  