<h3 class="ml-8"><strong style=" color:#008bd0 !important;"> Filter / Field Configuration </strong> </h3>
<mat-card class="example-card">
  <mat-card-content>
   
        <div class="example-container ">

          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="Pages">
              <th mat-header-cell *matHeaderCellDef>{{displayedHeader[0]}}</th>
              <td mat-cell *matCellDef="let element">{{element.ModuleName}}</td>
            </ng-container>

            <ng-container matColumnDef="DisplayName">
              <th mat-header-cell *matHeaderCellDef>{{displayedHeader[1]}}</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field style="width:220px  !important;height: 36px !important;" class="input-field">
                  <input matInput placeholder="Display Name" [(ngModel)]="element.DisplayName" maxlength="50">
               </mat-form-field>
               </td>
            </ng-container>


            <ng-container matColumnDef="AvailableFilters">
              <th mat-header-cell *matHeaderCellDef> {{displayedHeader[2]}}</th>
              <td mat-cell *matCellDef="let element">{{element.AvailableFilters}}
                    <a style="color: blue;cursor: pointer;margin-left: 35px  !important;" *ngIf="element.Custome1" (click)="openFilter(element)">Edit</a>
              </td>
            </ng-container>
            <ng-container matColumnDef="AvailableFields">
              <th mat-header-cell *matHeaderCellDef>{{displayedHeader[3]}}</th>
              <td mat-cell *matCellDef="let element">{{element.AvailableFields}}
                <a style="color: blue;cursor: pointer;margin-left: 35px  !important;" *ngIf="element.Custome1" (click)="openFields(element)">Edit</a>
                
               
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

     
  
  </mat-card-content>
</mat-card>