<h3><strong style=" color:#008bd0 !important;"> Manage Credentials</strong> </h3>

<!-- <div>
  <mat-form-field style="width:100%">
    <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-label>Tab Name</mat-label>
            <input matInput  [(ngModel)]="tabtitle" >
          </td>
          <td>
            <button mat-raised-button
                class="example-add-tab-button"
                  (click)="addTab()">
            Add new tab
          </button>
          </td>
         
      </tr>
    </table>
 </mat-form-field>

</div> -->

<mat-tab-group #tabGroup >  
  <!-- [selectedIndex]="selected.value"
(selectedIndexChange)="selected.setValue($event)" -->

  <mat-tab label="Active Directory">
   
    <mat-card class="p-0">
     
      <mat-card-content>

       <form [formGroup]="firstFormGroup" style="margin-top: 20px;" (ngSubmit)="onSubmit()"> 
          <div class="pb-1">
            <mat-slide-toggle  formControlName="disableSelect" (change)="changedisable($event)"  >Use SSL</mat-slide-toggle>
            
          </div>

          <div class="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <!-- <mat-label [formControl]="firstFormGroup.controls['Authentication']">AuthenticationType</mat-label> -->
                  <mat-select disableOptionCentering   [disabled]=disablevalueSelect formControlName="AuthenticationType" placeholder="AuthenticationType" autocomplete="off">
                    <mat-option *ngFor="let type of Types " [value]="type.value">{{type.viewValue}}</mat-option>
                  </mat-select>
                  
                </mat-form-field>
              </div>
             <div class="pb-1">
                <mat-form-field class="full-width">
                  <input matInput placeholder=" UserName "  formControlName="Domainusername">
                  <mat-error *ngIf="submitted && f1.Domainusername.errors || f1.Domainusername.dirty || f1.Domainusername.touched">
                    <span *ngIf="f1.Domainusername.errors?.required">Username  is a required </span>
                  </mat-error>
                </mat-form-field>
              </div> 

              <div class="pb-2">
                <mat-form-field class="full-width">
                  <input type="text" (change)="onchageou()" [checked]="outag"
                    placeholder="OU=YourOrgUnit, DC=YourDomain, DC=com" matInput formControlName="ou"
                  >

                </mat-form-field>
              </div>

            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">

              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Domain " formControlName="Domain">
                  <mat-error *ngIf="submitted && f1.Domain.errors || f1.Domain.dirty || f1.Domain.touched">
                    <span *ngIf="f1.Domain.errors?.required">Domain  is a required </span>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input matInput type="password" placeholder="Password" formControlName="Domainpassword">
                  <mat-error *ngIf="submitted && f1.Domainpassword.errors || f1.Domainpassword.dirty || f1.Domainpassword.touched">
                    <span *ngIf="f1.Domainpassword.errors?.required">password  is a required </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="pb-2">
                <mat-form-field class="full-width">
                  <input type="text" [disabled]="checked" (change)="onchagegroupou()" id="Group OU"
                    placeholder="CN=Group1,OU=YourOrgUnit,DC=YourDomain,DC=com|CN=Group2,OU=AnotherOrgUnit,DC=YourDomain,DC=com"
                    matInput formControlName="groupou">
                  
                </mat-form-field>
              </div>
            </div>
          </div>
        
          <div fxLayout="row" style="float: right;" class="pb-1">

            <button mat-raised-button color="primary" (click)="tabGroup.selectedIndex=1" >Next</button>
            <span fxFlex="8px"></span>
            <button mat-raised-button color="primary" [disabled]="firstFormGroup.invalid" >{{Submitname}}</button>
          </div>
        </form>  

      </mat-card-content>
    </mat-card>

  </mat-tab>
  <mat-tab label="Email Credential">
    <mat-card class="p-0">
    
      <mat-card-content>
        <form [formGroup]="firstFormGroup1" style="margin-top: 20px;">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <div class="pb-1">
            <mat-slide-toggle class="pr-1" formControlName="IsSSL">Is SSL</mat-slide-toggle>
            <mat-slide-toggle class="pr-1"formControlName="IsHTMLBody">Is HTML Body</mat-slide-toggle>
            <mat-slide-toggle class="pr-1"formControlName="UserCredentials">User Credentials</mat-slide-toggle>
            <mat-slide-toggle (change)="changeDisable($event)" [checked]="checkval" formControlName="Withoutpassword"
              class="pr-1">Without Password </mat-slide-toggle>
            <mat-slide-toggle (change)="changeDisable1($event)" [checked]="checkval" class="pr-1" formControlName="WithoutSmtp">Is SMTP are Different
            </mat-slide-toggle>
          </div>
          <div class="row wrap">

            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Sender Title " formControlName="Sendertitle">
                  <mat-error *ngIf="submitted && f2.Sendertitle.errors || f2.Sendertitle.dirty || f2.Sendertitle.touched">
                    <span *ngIf="f2.Sendertitle.errors?.required">Sendertitle  is a required </span>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class=" pb-1">
                <mat-form-field class="full-width">
                  <input matInput type="name" name="username" [formControl]="firstFormGroup1.controls['emailsender']"
                    placeholder="Email sender">
                    <mat-error *ngIf="submitted && f2.emailsender.errors || f2.emailsender.dirty || f2.emailsender.touched">
                      <span *ngIf="f2.emailsender.errors?.required">Emailsender  is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>
              <div class=" pb-1">
                <mat-form-field class="full-width">
                  <input matInput type="name" [disabled]="checked" name="username" [formControl]="firstFormGroup1.controls['smtpemail']"
                    placeholder=" Smtp Email">
                    <mat-error *ngIf="submitted && f2.smtpemail.errors || f2.smtpemail.dirty || f2.smtpemail.touched">
                      <span *ngIf="f2.smtpemail.errors?.required">Smtpemail  is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>

              <div class=" pb-1">
                <mat-form-field class="full-width">
                  <input matInput type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" name="port number" [formControl]="firstFormGroup1.controls['Eportnumber']"
                    placeholder="Port Number">
                    <mat-error *ngIf="submitted && f2.Eportnumber.errors || f2.Eportnumber.dirty || f2.Eportnumber.touched">
                      <span *ngIf="f2.Eportnumber.errors?.required">password  is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>

            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class=" pb-1">
                <mat-form-field class="full-width">
                  <input matInput type="name" name="username" [formControl]="firstFormGroup1.controls['emailhost']"
                    placeholder="  Email Host">
                    <mat-error *ngIf="submitted && f2.emailhost.errors || f2.emailhost.dirty || f2.emailhost.touched">
                      <span *ngIf="f2.emailhost.errors?.required">password  is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>
              <div class=" pb-1">
                <mat-form-field class="full-width">
                  <input [disabled]="checked" matInput type="password" name="password"
                    [formControl]="firstFormGroup1.controls['Epassword']" placeholder="Password">
                    <mat-error *ngIf="submitted && f2.Epassword.errors || f2.Epassword.dirty || f2.Epassword.touched">
                      <span *ngIf="f2.Epassword.errors?.required">password  is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>

              <div class=" pb-1">
                <mat-form-field class="full-width">
                  <input [disabled]="checked" matInput type="password" name="password"
                    [formControl]="firstFormGroup1.controls['smtppassword']" placeholder=" Smtp Password">
                    <mat-error *ngIf="submitted && f2.smtppassword.errors || f2.smtppassword.dirty || f2.smtppassword.touched">
                      <span *ngIf="f2.smtppassword.errors?.required">SMTP password  is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>

            </div>
          </div>
         
          <div fxLayout="row" style="float: right;" class="pb-1">
            <button mat-raised-button color="accent" (click)="tabGroup.selectedIndex=0" >Back</button>
            <span fxFlex="8px"></span>
            <button mat-raised-button color="primary" (click)="tabGroup.selectedIndex=2" >Next</button>
            <span fxFlex="8px"></span>
            <button mat-raised-button color="primary"[disabled]="firstFormGroup1.invalid" (click)="Saveemail()" >{{Submitemail }}</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>


  </mat-tab>
  <mat-tab label="FTP 1">
    <mat-card class="p-0">
      <mat-card-content>
        <form [formGroup]="firstFormGroup2" style="margin-top: 20px;">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <div class="pb-1">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button (click)="onclickftp()" class="pr-1" value="0">FTP</mat-radio-button>
              <mat-radio-button (click)="onclicksftp()" value="1">SFTP</mat-radio-button>
            </mat-radio-group>
          </div>

          <div fxLayout="row wrap">

            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-2" *ngIf="isShowDivftp">
                <mat-form-field class="full-width">
                  <mat-label>Operation Type</mat-label>
                  <div>
                    <mat-select disableOptionCentering formControlName="Operationtypeftp">
                      <mat-option value="User Credentials" >User Credentials </mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="submitted && f3.Operationtypeftp.errors || f3.Operationtypeftp.dirty || f3.Operationtypeftp.touched">
                      <span *ngIf="f3.Operationtypeftp.errors?.required">Operation Type  is a required </span>
                    </mat-error> -->
                  </div>
                </mat-form-field>
              </div>
              <div class="pb-2" *ngIf="isShowDivsftp">
                <mat-form-field class="full-width">
                  <mat-label>Operation Type</mat-label>
                  <mat-select disableOptionCentering formControlName="Operationtypesftp">
                    <mat-option value="UserName and Password">UserName and Password </mat-option>
                    <mat-option value="UserName and Private or Public Key">UserName and Private or Public Key </mat-option>
                    <mat-option value="UserName Password Private and Public key">UserName Password Private and Public key</mat-option>
                  </mat-select>
                  <!-- <mat-error *ngIf="submitted && f3.Operationtypesftp.errors || f3.Operationtypesftp.dirty || f3.Operationtypesftp.touched">
                    <span *ngIf="f3.Operationtypesftp.errors?.required">Operation Type  is a required </span>
                  </mat-error> -->
                </mat-form-field>
              </div>
              <div class=" pb-2">
                <mat-form-field class="full-width">
                  <input matInput type="name" name="user name" [formControl]="firstFormGroup2.controls['username']"
                    placeholder="User Name">
                    <mat-error *ngIf="submitted && f3.username.errors || f3.username.dirty || f3.username.touched">
                      <span *ngIf="f3.username.errors?.required">Username  is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>
              <div class=" pb-2">
                <mat-form-field class="full-width">
                  <input matInput placeholder=" Host name" formControlName="Hostname">
                  <mat-error *ngIf="submitted && f3.Hostname.errors || f3.Hostname.dirty || f3.Hostname.touched">
                    <span *ngIf="f3.Hostname.errors?.required">Hostname  is a required </span>
                  </mat-error>
                </mat-form-field>
              </div>

            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class=" pb-2">
              </div>
              <div class=" pl-2">
                <mat-form-field class="full-width">
                  <input matInput type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" [ngModel]="portnumber" id="val" name="port number"
                    [formControl]="firstFormGroup2.controls['portnumber']" placeholder="Port Number">
                    <mat-error *ngIf="submitted && f3.portnumber.errors || f3.portnumber.dirty || f3.portnumber.touched">
                      <span *ngIf="f3.portnumber.errors?.required">port number  is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>
              <div class=" pb-2">
                <mat-form-field class="full-width">
                  <input matInput type="password" name="password" [formControl]="firstFormGroup2.controls['password']"
                    placeholder="Password">
                    <mat-error *ngIf="submitted && f3.password.errors || f3.password.dirty || f3.password.touched">
                      <span *ngIf="f3.password.errors?.required">password is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>
              <!-- <div class=" pb-2">
                <mat-form-field class="full-width">
                  <input matInput type="text" name="password" [formControl]="firstFormGroup2.controls['FTPfor']"
                    placeholder="FTP For">
                </mat-form-field>
              </div> -->
            </div>
          </div>
          <div fxLayout="row" style="float: right;" class="pb-1">
            <button mat-raised-button color="accent" (click)="tabGroup.selectedIndex=1" >Back</button>
            <span fxFlex="8px"></span>
            <button mat-raised-button color="primary" (click)="tabGroup.selectedIndex=3" >Next</button>
            <span fxFlex="8px"></span>
            <button mat-raised-button color="primary" (click)="SaveFTP()" [disabled]="firstFormGroup2.invalid">Save</button>
          </div>

        </form>
        <!-- <div class="pt-14 pb-1" class="full-width">
          <mat-form-field>
            <input matInput type="text" name="password" 
              placeholder="FTP For">
          </mat-form-field>
          <button mat-icon-button mat-sm-button color="warn" class="mr-1" (click)="openPopUp()">
            <mat-icon>update</mat-icon>
          </button>
        </div> -->
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <!-- <mat-tab *ngFor="let tab of tabs; let index = index" >
    
    <ng-template mat-tab-label> {{tab}}

      <i class="material-icons" (click)="removeTab(index)">close</i>

       

      </ng-template>
       <i class="material-icons" (click)="addTab()">add_circle_outline</i>


        <mat-tab>
    <ng-template mat-tab-label>      
      <button mat-raised-button color ="primary">Save</button>
    </ng-template>
      -->
    
   

  <mat-tab label="FTP 2">
    <mat-card class="p-0">
      <mat-card-content> 
        <form [formGroup]="firstFormGroup3" style="margin-top: 20px;">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class=" pb-2">
                <mat-form-field class="full-width">
                  <input matInput placeholder=" Host name" formControlName="Hostname1">
                  <mat-error *ngIf="submitted && f4.Hostname1.errors || f4.Hostname1.dirty || f4.Hostname1.touched">
                    <span *ngIf="f4.Hostname1.errors?.required">Hostname is a required </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class=" pb-2">
                <mat-form-field class="full-width">
                  <input matInput type="name" name="username" [formControl]="firstFormGroup3.controls['username1']"
                    placeholder="User Name">
                    <mat-error *ngIf="submitted && f4.username1.errors || f4.username1.dirty || f4.username1.touched">
                      <span *ngIf="f4.username1.errors?.required">username is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class=" pl-2">
                <mat-form-field class="full-width">
                  <input matInput type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" name="port number" [formControl]="firstFormGroup3.controls['portnumber1']"
                    placeholder="Port Number">
                    <mat-error *ngIf="submitted && f4.portnumber1.errors || f4.portnumber1.dirty || f4.portnumber1.touched">
                      <span *ngIf="f4.portnumber1.errors?.required">portnumber is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>
              <div class=" pb-2">
                <mat-form-field class="full-width">
                  <input matInput type="password" name="password" [formControl]="firstFormGroup3.controls['password1']"
                    placeholder="Password">
                    <mat-error *ngIf="submitted && f4.password1.errors || f4.password1.dirty || f4.password1.touched">
                      <span *ngIf="f4.password1.errors?.required">password is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
         
          <div fxLayout="row" style="float: right;" class="pb-1">
            <button mat-raised-button color="accent" (click)="tabGroup.selectedIndex=2" >Back</button>
            <span fxFlex="8px"></span>
            <button mat-raised-button color="primary" (click)="tabGroup.selectedIndex=4" >Next</button>
            <span fxFlex="8px"></span>
            <button mat-raised-button color="primary" [disabled]="firstFormGroup3.invalid" (click)="SaveFTP2()">Save</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>

  </mat-tab>
   <mat-tab label="FTP 3"> 
    <mat-card class="p-0">
      <mat-card-content>
        <form [formGroup]="firstFormGroup4" style="margin-top: 20px;">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class=" pb-2">
                <mat-form-field class="full-width">
                  <input matInput placeholder=" Host name" formControlName="Hostname2">
                  <mat-error *ngIf="submitted && f5.Hostname2.errors || f5.Hostname2.dirty || f5.Hostname2.touched">
                    <span *ngIf="f5.Hostname2.errors?.required">Hostname is a required </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class=" pb-2">
                <mat-form-field class="full-width">
                  <input matInput type="name" name="username" [formControl]="firstFormGroup4.controls['username2']"
                    placeholder="User Name">
                    <mat-error *ngIf="submitted && f5.username2.errors || f5.username2.dirty || f5.username2.touched">
                      <span *ngIf="f5.username2.errors?.required">username is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class=" pl-2">
                <mat-form-field class="full-width">
                  <input matInput type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  [formControl]="firstFormGroup4.controls['portnumber2']"
                    placeholder="Port Number">
                    <mat-error *ngIf="submitted && f5.portnumber2.errors || f5.portnumber2.dirty || f5.portnumber2.touched">
                      <span *ngIf="f5.portnumber2.errors?.required">portnumber is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>
              <div class=" pb-2">
                <mat-form-field class="full-width">
                  <input matInput type="password" name="password" [formControl]="firstFormGroup4.controls['password2']"
                    placeholder="Password">
                    <mat-error *ngIf="submitted && f5.password2.errors || f5.password2.dirty || f5.password2.touched">
                      <span *ngIf="f5.password2.errors?.required">password is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        
          <div fxLayout="row" style="float: right;" class="pb-1">
            <button mat-raised-button color="accent" (click)="tabGroup.selectedIndex=3" >Back</button>
            <span fxFlex="8px"></span>
            <button mat-raised-button color="primary" (click)="tabGroup.selectedIndex=5" >Next</button>

            <span fxFlex="8px"></span>
            <button mat-raised-button color="primary" [disabled]="firstFormGroup4.invalid" (click)="SaveFTP3()" >Save</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>

  </mat-tab>

  <mat-tab label="FTP 4">
    <mat-card class="p-0">
      <mat-card-content>
        <form [formGroup]="firstFormGroup5" style="margin-top: 20px;">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class=" pb-2">
                <mat-form-field class="full-width">
                  <input matInput placeholder=" Host name" formControlName="Hostname3">
                  <mat-error *ngIf="submitted && f6.Hostname3.errors || f6.Hostname3.dirty || f6.Hostname3.touched">
                    <span *ngIf="f6.Hostname3.errors?.required">Hostname is a required </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class=" pb-2">
                <mat-form-field class="full-width">
                  <input matInput type="name" name="username" [formControl]="firstFormGroup5.controls['username3']"
                    placeholder="User Name"> <mat-error *ngIf="submitted &&  f6.username3.errors ||  f6.username3.dirty ||  f6.username3.touched">
                      <span *ngIf=" f6.username3.errors?.required">username is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class=" pl-2">
                <mat-form-field class="full-width">
                  <input matInput type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" name="port number" [formControl]="firstFormGroup5.controls['portnumber3']"
                    placeholder="Port Number">
                    <mat-error *ngIf="submitted && f6.portnumber3.errors || f6.portnumber3.dirty || f6.portnumber3.touched">
                      <span *ngIf="f6.portnumber3.errors?.required">portnumber is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>
              <div class=" pb-2">
                <mat-form-field class="full-width">
                  <input matInput type="password" name="password" [formControl]="firstFormGroup5.controls['password3']"
                    placeholder="Password">
                    <mat-error *ngIf="submitted && f6.password3.errors || f6.password3.dirty || f6.password3.touched">
                      <span *ngIf="f6.password3.errors?.required">password is a required </span>
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
         
          <div fxLayout="row" style="float: right;" class="pb-1">
            <button mat-raised-button color="accent" (click)="tabGroup.selectedIndex=4" >Back</button>

            <span fxFlex="8px"></span>
            <button mat-raised-button color="primary" [disabled]="firstFormGroup5.invalid" (click)="SaveFTP4()">Save</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>

  </mat-tab>
  <mat-tab>
    <button mat-raised-button color="primary" > Submit
    
    </button> 
  </mat-tab> 
</mat-tab-group>